@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,100&family=Mukta:wght@300&family=Ubuntu&display=swap');

$primary-color: #1e88e5;
$secondary-color: #ff9800;
$product-price-color: #fff;
$product-name-color: #f9f9f9;
$text-color: #333;
$border-color: #ddd;
$purple-color: purple;
$Ubuntu-font: 'Ubuntu', sans-serif;
$mukta-font: 'Mukta', sans-serif;